# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# cache
.next

# testing
/coverage
**/public/*@cypress

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# Serwist
**/public/sw*
**/public/swe-worker*

# typescript
*.tsbuildinfo
next-env.d.ts
