{{#if wantMessages}}
import { intlShape, FormattedMessage } from 'react-intl';
{{/if}}


interface IProps {
  {{#if wantMessages}}
  intl: intlShape,
  {{/if}}
};

const {{ properCase name }} = React.memo<IProps>(props => {
  return (
    <div className="custo-{{ dashCase name }}">
      {{#if wantMessages}}
      <FormattedMessage id="please.change.me" />
      {{/if}}
    </div>
  );
};

export default {{ properCase name }};
