import { Component } from 'react';
{{#if wantMessages}}
import { intlShape, FormattedMessage } from 'react-intl';
{{/if}}

interface IProps {
  {{#if wantMessages}}
  intl: intlShape,
  {{/if}}
};

class {{ properCase name }} extends Component<IProps> {
  render() {
    return (
      <div className="custo-{{ dashCase name }}">
        {{#if wantMessages}}
        <FormattedMessage id="please.change.me" />
        {{/if}}
      </div>
    );
  }
}

export default {{ properCase name }};
