.leaflet-map {
  height: 65%;
  max-height: 100vh;
}

.leaflet-bottom {
  bottom: 32px !important;
}

.pin-solid.icon {
  color: #000;
  zoom: 1.4;
  position: absolute;
  margin-left: -6px;
  margin-top: 4px;
  width: 12px;
  height: 12px;
  border: solid 1px currentColor;
  border-radius: 7px 7px 7px 0;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.pin-solid.icon::before {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 4px;
  height: 4px;
  color: white;
  border: solid 1px currentColor;
  border-radius: 3px;
  background-color: currentColor;
}

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
}

.elevation-div {
  height: 25%;
  font: 12px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.lightblue-theme.elevation-control.elevation .background {
  background-color: rgb(255, 255, 255);
}

.lightblue-theme.elevation-control.elevation .axis line,
.lightblue-theme.elevation-control.elevation .axis path {
  stroke: #000;
}

.lightblue-theme.elevation-control.elevation .grid .tick line {
  stroke: rgba(0, 0, 0, 0.2);
}

.lightblue-theme.elevation-control.elevation .mouse-drag {
  fill: #aa397d3d;
}

.lightblue-theme.elevation-control.elevation .area {
  fill: #aa397d94 !important;
  stroke: #aa397d !important;
}

#details_cover,
#touristicContent_cover {
  height: 100%;
}

#details_cover_image,
#touristicContent_cover_image {
  height: 100%;
}

.menu-download {
  z-index: 999;
}
