<!--Chargement séparé (core) des librairies itinérance-->
<script type="text/javascript" src="https://gadget.open-system.fr/widgets-libs/rel/noyau-2.0.min.js" xml:space="preserve"></script>
<link href="https://eitinerancecdn.open-system.fr/widgets-eiti/core/core.min.css" type="text/css" rel="stylesheet">
<link href="https://eitinerancecdn.open-system.fr/widgets-eiti/__PROJECT__/__PROJECT__.min.css" type="text/css" rel="stylesheet">
<script src="https://eitinerancecdn.open-system.fr/widgets-eiti/core/core.min.js" type="text/javascript" xml:space="preserve"></script>
<script src="https://eitinerancecdn.open-system.fr/widgets-eiti/__PROJECT__/__PROJECT__.min.js" type="text/javascript" xml:space="preserve"></script>


<div class="OsItinerance OsItPartner CssCustom">
  <div id="eiti-partner"></div>
</div>


</script>
